.button__upload {
    display: flex;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 40px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    background-color: rgb(123, 66, 255);
    color: white;
    cursor: pointer;
}

.button__upload:hover {
    background-color: #1520c0;
    transition: all 0.3s ease-in;
}

