.member {
  margin: 20px 0;
}
.member > h1 {
  margin: 20px 0;
}

.member__items {
  padding: 0px 40px;
}

.member__item {
  position: relative;
  display: inline-block;
  margin: 12px 12px;
  align-content: space-around;
}

.member__image {
  object-fit: contain;
  overflow: hidden;
  position: relative;
  background-color: rgba(56, 56, 56);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.member__image > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* border-radius: 10px 10px 0px 0px; */
  width: auto;
  height: 280px;
  object-fit: contain;
  transform: scale(1);
  transition: transform 0.5s ease;
}

.member__image > img:hover {
  transform: scale(1.2);
}

.member__item p {
  font-weight: bold;
}

.card-text {
  margin: 4px 10px 0 10px;
  padding-top: 10px;
}
.card-text p:first-child {
  font-size: 18px;
}

.card-text > p {
  font-size: 16px;
}

.chip__items {
  margin-left: 10px;
}

.chip__item {
  display: inline-block;
  margin: 4px 4px 4px 0;
}
.chip__item > span {
  font-weight: bold;
  font-family: Helvetica;
  padding: 4px 16px;
  background-color: rgb(165, 97, 255);
  color: white;
  border-radius: 6px;
}

.card-id {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 10px 4px 0;
  align-self: end;
  font-weight: bold;
  margin-left: 4px;
}
